body{
    font-family: 'Roboto Slab', serif;
}
.glc-navbar{
    background-color: #37b494;
}
.glc-navbar a{
    color: #000;
}
#slideshowglobal{
 
 	background-color: #d9d9d9;
 	
}

#caption{
	
	background-color: #ffffff;
	position: absolute;
	bottom: 5px;
	box-shadow: 2px 2px 1px #888890;
}

#slideinner{
	
	position: relative;
	margin: auto;
}

.bottomEnd{
 display: inline-block;
}
.rightAlign{
	right:0px;
	position:absolute;
	}

#slideContainer{
	background-color: white;
	margin:auto;
}
.slideshow {
	position: relative;
	background-color: #d9d9d9;
	
	left: 5px;
}
.slideshow.loading .wrapper {
	background: url("../img/loader.gif") no-repeat center center;
	padding: 50px 0;
}

.slideshow.loading .slides, .slideshow .slide figcaption {
	display: none;
}

/* do not show slides during loading */
.slideshow.loading .slide {
	visibility: hidden;
}

.slideshow .wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slideshow .slides, .slideshow .slide {
	position: absolute;
}


.slideshow .prev,
.slideshow .next {
	text-decoration: underline;
	cursor: pointer;
}



.slideshow .slide figure {
	position: relative;
	margin: 0;
}

.slideshow .slide figure img {
	width: 100%;
	vertical-align: top;
}


.slideshow .slideshow_caption {
	
	background-color: #ffffff;
	box-shadow: 2px 2px 1px #888890;	
	padding: 5px;
	position: relative;
	left: -2px;
}

.slideshow .slideTabs {
	text-align: right;
	
	width: 100%;
	z-index: 10;
	background-color: white;
	padding-top: 4px;
}

.slideshow .slideTabs a, .slideshow .slideTabs a.selected{
	width:25px;
	height:20px;
}

.slideshow .slideTabs a {
	display: inline-block;
	vertical-align: baseline;
	padding: 10px;
	margin: 0 2px;
	background:url("../img/sprite-square-1.png") -15px -126px no-repeat;	
}

.slideshow .slideTabs a.selected {
	display: inline-block;	
	background:url("../img/sprite-square-1.png") -69px -126px no-repeat;	
}

.slideshow .prev, .slideshow .next, .slideshow .controle {
	position: absolute;
	cursor: pointer;
	padding: 0 3%;
}

.slideshow .prev {
	left: 0;
	width:55px;
	height:54px;
	background:url("../img/sprite-square-1.png") -55px -54px no-repeat;
}

.slideshow .controle {
	position:absolute;
	right: 5px;
	top: 5px;
	width:55px;
	height:54px;
	
}
.controle.play{
	background:url("../img/sprite-square-1.png") 0px 0px no-repeat;
}
.controle.pause{
	background:url("../img/sprite-square-1.png") -55px 0px no-repeat;
}


.slideshow .next {
	right: 0;
	width:55px;
	height:54px;
	background:url("../img/sprite-square-1.png") 2px -54px no-repeat;
}



@media screen and (min-width: 1024px) {
	#slideshowglobal{
 	width:920px;
 	height: 435px;
 	padding-top: 5px;
 	margin: auto;
	}
	#caption{
	width: 904px;
	height: 25px;
	}
	#slideinner{	
	height: 389px;
	width: 910px;
	}
	#slideContainer{
	width: 912px;
	padding: 3px;
	}
	.slideshow {	
	width: 900px;
	height: 360px;
	}
	.slideshow .slideshow_caption {
	width: 904px;
	height: 25px;
	}
}
@media (max-width: 1024px) and  (min-width: 468px) {
	#slideshowglobal{
 	width:340px;
 	height: 226px;
 	padding-top: 5px;
 	margin: auto;
	}
	#caption{
	width: 321px;
	height: 45px;
	margin-bottom: 0px;
	}
	#slideinner{
	height: 175px;
	width: 330px;
	}
	#slideContainer{
	width: 333px;
	padding:  3px 0px;}
	.slideshow {	
	width: 320px;
	height: 128px;
	}
	.slideshow .slideshow_caption {
width: 321px;
height: 44px;
}
	.slideshow .slideTabs a,.slideshow .slideTabs a.selected { 
	
	width:22px;
	height:20px;
	

	
	padding: 2px;
	margin: 0px;	
}

.slideshow .next {

width: 30px;
height: 30px;
background: url("../img/sprite-square-1.png") -8px -67px no-repeat;
}
.slideshow .prev {
width: 30px;
height: 30px;
background: url("../img/sprite-square-1.png") -67px -65px no-repeat;
}

.slideshow .controle {
	position:absolute;
	right: 5px;
	top: 5px;
	width:30px;
	height:30px;
	
}
.controle.play{
	background:url("../img/sprite-square-1.png") -10px -10px no-repeat;
}
.controle.pause{
	background:url("../img/sprite-square-1.png") -65px -10px no-repeat;
}


}

@media (max-width: 468px) {
	

	.slideshow .slideTabs a,.slideshow .slideTabs a.selected { 
	
	
	padding: 0px;
		
}

.slideshow .next {

width: 20px;
height: 20px;
background: url("../img/sprite-square-1.png") -8px -71px no-repeat;
}
.slideshow .prev {
width: 20px;
height: 20px;
background: url("../img/sprite-square-1.png") -67px -71px no-repeat;
}

.slideshow .controle {
	position:absolute;
	right: 5px;
	top: 5px;
	width:20px;
	height:20px;
	
}
.controle.play{
	background:url("../img/sprite-square-1.png") -10px -16px no-repeat;
}
.controle.pause{
	background:url("../img/sprite-square-1.png") -65px -16px no-repeat;
}

.slideshow .slideTabs a,.slideshow .slideTabs a.selected { 
	margin-bottom: 2px;
}

}
.logo{
	float: left;
}
.title{
	text-align: center;
}